@import 'fonts';
@import 'scroll';
@import 'animations';
@import 'cursor';
@import 'menu';

$expericeCardColor: #20639B;

html {
    font-family: 'Baloo Bhaina 2';
    cursor: none;
}

body{
    overflow:hidden;
}

#photoDiv {
    background-image: url(../image/PhotoTrim.jpg);
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.64);
    z-index: 10;
}

@media (min-width: 1024px) {
    #mainCointainer {
        min-height: 90%;
        height: 90%;
    }
}

#mainCointainer {
    min-height: 100%;
}

.svgIconShadows {
    transition: .5s ease-out;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.tabLink svg {
    fill: white;
    @extend .svgIconShadows;
}

.experienceCard svg {
    @extend .svgIconShadows;
}

.experienceCard:hover svg {
    fill: $expericeCardColor;
}

.tabLink:hover svg {
    fill: $expericeCardColor;
}

.tabLink:hover + span {
    opacity: 1;
}

.motto {
    font-family: 'Indie Flower';
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-main {
    position: fixed;
    background: white;
    width: 75%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (min-width: 1024px) {
    .modal-main {
        width: 40%;
    }
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

@mixin defaultShadows {
    -webkit-box-shadow: 6px 6px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 11px -4px rgba(0,0,0,0.75);
}

.shadow {
    @include defaultShadows
}

.shadows:hover {
    @include defaultShadows
}

#arrowLeft{
    width: 30px;
}

#arrowRight{
    width: 30px;
}