<!DOCTYPE html>
<html lang="en" class="min-h-full h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebResume</title>
    <link rel="stylesheet" href="~/css/tailwind.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/base.css" />
</head>
<body class="h-full min-h-full flex bg-black">
    <div id="particles-js" class="fixed w-full h-full" style="z-index:-1"></div>
    <div class="min-h-full flex w-4/5 m-auto" id="mainCointainer">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/particles.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
<script type="text/javascript">
    $(function () {
        particlesJS.load('particles-js', 'assets/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    });
</script>
</html>
