@{
    ViewData["Title"] = "LS";
}

<div id="app" class="self-center w-full h-full"></div>

<!-- Dependencies -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

<!-- Main -->
<script src="~/js/app.js"></script>
