@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 400;
  src: local("Baloo Bhaina 2 Regular"), local("BalooBhaina2-Regular"), url(https://fonts.gstatic.com/s/baloobhaina2/v1/qWczB6yyq4P9Adr3RtoX1q6ySizlkjQYug.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0B01-0B77, U+200C-200D, U+20B9, U+25CC; }

/* vietnamese */
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 400;
  src: local("Baloo Bhaina 2 Regular"), local("BalooBhaina2-Regular"), url(https://fonts.gstatic.com/s/baloobhaina2/v1/qWczB6yyq4P9Adr3RtoX1q6ySizzkjQYug.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 400;
  src: local("Baloo Bhaina 2 Regular"), local("BalooBhaina2-Regular"), url(https://fonts.gstatic.com/s/baloobhaina2/v1/qWczB6yyq4P9Adr3RtoX1q6ySizykjQYug.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 400;
  src: local("Baloo Bhaina 2 Regular"), local("BalooBhaina2-Regular"), url(https://fonts.gstatic.com/s/baloobhaina2/v1/qWczB6yyq4P9Adr3RtoX1q6ySiz8kjQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Indie Flower"), local("IndieFlower"), url(https://fonts.gstatic.com/s/indieflower/v11/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.fade-appear {
  opacity: 0; }

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 700ms linear; }

.fade-exit {
  opacity: 1; }

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 700ms linear; }

.fade-exit-done {
  opacity: 0; }

.fade-enter {
  opacity: 0; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms linear; }

.pageSlider-enter.left > .page {
  transform: translate3d(-100%, 0, 0); }

.pageSlider-enter.right > .page {
  transform: translate3d(100%, 0, 0); }

.pageSlider-exit.left > .page {
  display: none; }

.pageSlider-exit.right > .page {
  display: none; }

.pageSlider-enter.pageSlider-enter-active.left > .page {
  transform: translate3d(0, 0, 0);
  transition: 800ms ease-in-out; }

.pageSlider-enter.pageSlider-exit-active.left > .page {
  opacity: 0; }

.pageSlider-enter.pageSlider-enter-active.right > .page {
  transform: translate3d(0, 0, 0);
  transition: 800ms ease-in-out; }

.pageSlider-enter.pageSlider-exit-active.right > .page {
  opacity: 0; }

.progressVisualPart {
  /* Number of the seconds for complete animation */
  transition: width 3s;
  background-image: linear-gradient(45deg, #6abffc, #20639B); }

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000; }

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #3282b8; }

.cursor-dot-outline {
  width: 30px;
  height: 30px;
  background-color: rgba(101, 161, 202, 0.5); }

.menuIcon {
  width: 35px;
  height: 35px; }

@media (min-width: 1024px) {
  .menuIcon {
    width: 50px;
    height: 50px; } }

.mobileMenuBtn:hover div {
  background-color: #20639B; }

html {
  font-family: 'Baloo Bhaina 2';
  cursor: none; }

body {
  overflow: hidden; }

#photoDiv {
  background-image: url(../image/PhotoTrim.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.64);
  z-index: 10; }

@media (min-width: 1024px) {
  #mainCointainer {
    min-height: 90%;
    height: 90%; } }

#mainCointainer {
  min-height: 100%; }

.svgIconShadows, .tabLink svg, .experienceCard svg {
  transition: .5s ease-out;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7)); }

.tabLink svg {
  fill: white; }

.experienceCard:hover svg {
  fill: #20639B; }

.tabLink:hover svg {
  fill: #20639B; }

.tabLink:hover + span {
  opacity: 1; }

.motto {
  font-family: 'Indie Flower'; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10; }

.modal-main {
  position: fixed;
  background: white;
  width: 75%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media (min-width: 1024px) {
  .modal-main {
    width: 40%; } }

.display-block {
  display: block; }

.display-none {
  display: none; }

.shadow {
  -webkit-box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.75); }

.shadows:hover {
  -webkit-box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.75); }
